@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.questrial-regular {
  font-family: "Questrial", sans-serif;
  font-weight: 900;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}